.userName-main {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin-bottom: 2rem;
    padding-top: 3.5rem;
    padding-left: 8.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: -2;
    height: 100%;
}

.userName-main-chat,
.userName-main-profile,
.userName-main-call,
.userName-main-team {
    position: absolute;
    height: 100%;

    top: 5rem;
    left: 9rem;
    right: 1rem;
    bottom: 1rem;
    padding: 2rem 1rem;
    background-color: #f5f5f5;
}

/* call */

.userName-main-call {
    display: flex;
    flex-direction: column;
}

.userName-main-call-videoContainer {
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    padding: 2rem;
    margin-bottom: 2rem;
    height: 100%;
}

.userName-main-call button {
    width: 6rem;
    height: 2.5rem;
    background-color: #5458af;
    color: #fff;
    border-radius: 10%;
}

.userName-main-call button:hover {
    cursor: pointer;
}

.userName-main-call video {
    margin: 1rem;
    border: solid 2px black;
    box-shadow: 5px 5px 10px;
}

.userName-main-call-input {
    margin: auto;
    margin-bottom: 5rem;
    height: 1.5rem;
}

.userName-main-call-input input {
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.userName-main-call-videos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.userName-main-call-answer {
    margin: auto;
    margin-top: 2rem;
}

.userName-main-call-myvideo,
.userName-main-call-uservideo {
    border: solid black 3px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.userName-main-call-myvideo-control,
.userName-main-call-uservideo-control {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.userName-main-call-myvideo-control button,
.userName-main-call-uservideo-control button {
    width: 5rem;
    height: 2rem;
    background-color: #5458af;
    color: #fff;
    border-radius: 10%;
}

/* Teams */
.userName-main-team {
    display: flex;
    flex-direction: column;
}

.userName-main-team-videoContainer {
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    padding: 2rem;
    margin-bottom: 2rem;
    height: 100%;
}

.userName-main-team button {
    width: 6rem;
    height: 2.5rem;
    background-color: #5458af;
    color: #fff;
    border-radius: 10%;
}

.userName-main-team button:hover {
    cursor: pointer;
}

.userName-main-team video {
    margin: 1rem;
    border: solid 2px black;
    box-shadow: 5px 5px 10px;
}

.userName-main-team-input {
    margin: auto;
    margin-bottom: 5rem;
    height: 1.5rem;
}

.userName-main-team-input input {
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.userName-main-team-videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.userName-main-team-answer {
    margin: auto;
    margin-top: 2rem;
}

.userName-main-team-myvideo,
.userName-main-team-uservideo {
    border: solid black 3px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.userName-main-team-myvideo-control,
.userName-main-team-uservideo-control {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.userName-main-team-myvideo-control button,
.userName-main-team-uservideo-control button {
    width: 5rem;
    height: 2rem;
    background-color: #5458af;
    color: #fff;
    border-radius: 10%;
}

/* profile */

.userName-main-chat {
    display: flex;
    flex-direction: column;
}

.userName-main-chat-header {
    background-color: #5458af;
    padding: 0rem 2rem;
}

.userName-main-chat-body {
    background-color: aqua;
    padding: 0rem;
    display: flex;
    flex-direction: row;
    height: 80%;
}

.userName-main-chat-sidebar {
    width: 12rem;
    padding: 0rem 2rem;
    background-color: bisque;
}

.userName-main-chat-mainside {
    display: flex;
    flex-direction: column;
}

.userName-main-chat-form {
    background-color: blue;
    padding: 2rem 2rem;
    margin: 0;
    justify-content: space-between;
}

.userName-main-chat-messages {
    height: 100%;
}
