.userSidebar-main {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #dcdcdc;
    height: 100%;
    top: 0px;
    bottom: 0px;
    width: 6rem;
    z-index: -1;
    padding-top: 10rem;
    padding-left: 2rem;
}

.userSidebar-main h2 {
    color: #5458af;
}

.userSidebar-main-chats,
.userSidebar-main-call,
.userSidebar-main-team,
.userSidebar-main-profile {
    background-color: #abb0ad;
    margin-top: 1rem;
    margin-right: 1.6rem;
    text-align: center;
    border-radius: 0.8rem;
    color: #f5f5f5;
}

.userSidebar-main-chats:hover,
.userSidebar-main-team:hover,
.userSidebar-main-call:hover,
.userSidebar-main-profile:hover {
    color: #5458af;
    cursor: pointer;
}
